<!-- <main>
	<div class="scroll-container">
		<button class="scroll-buttonLeft" onclick="scrollLeft()">←</button>
		<div class="container">
			<div class="scroll-box">
				{% for tag in tags %}
				<a href="#{{{tag.id}}}" class="word-container">{{{tag.name}}}</a>
				{% endfor %}
			</div>
		</div>
		<button class="scroll-buttonRight" onclick="scrollRight()">→</button>
	</div>

 	https://webartwork.github.io/wjst/ -->
<!-- {% for tag in tags %}
	<div id="{{{tag.id}}}" class="products-header">{{{tag.name}}}</div>

	<div class="main-container">
		{% for product in tag.products %}
		<div class="product-container">
			<img src="{{{product.thumb}}}" alt="Product 1" class="product-image" />
			<h3 class="product-title">{{{product.name}}}</h3>
			<p class="product-description">{{{product.description}}}</p>
			<span class="product-price">{{{product.price}}}</span>
			<span class="product-price">{{{product.weight}}}</span> -->
<!-- <button class="add-to-cart-button">+ Додати</button> -->
<!-- </div>
		{% endfor %}
	</div>
	{% endfor %}
</main> -->